#featured_blog_img{
    max-height: 430px;

}

.brav_bg {
    /*background-color: #01a5ac;*/
    background-color: aqua;
}


.link_color {
    color: white;
}

.selected_color {
    color: aqua;
}


.brown {
    background-color: #784415;
}
